<div class="container test">
    <div class="nav">
        <img id="me" src="../../assets/img/me.jpeg" alt="Smiley face">
        <h1>Hi, Welcome to my Portfolio!</h1>
        <div class="links">
            <button class="page-link" (click)="goToDestination('about')">About</button>
            <button class="page-link" dest="projects" (click)="goToDestination('projects')">Projects</button>
            <button class="page-link" dest="resume" (click)="goToDestination('resume')">Resume</button>
            <button class="page-link" dest="contact" (click)="goToDestination('about')">Contact</button>
        </div>
    </div>
    <div class="body">
            <div class="rotate"><a href="https://www.linkedin.com/in/kylemcreynolds1/" target="_blank"><i id="icon1" class="fab fa-linkedin"></i></a></div>
            <div class="rotate"><a href="https://github.com/kyle-mcr" target="_blank"><i id="icon" class="fab fa-github-square"></i></a></div>
            <div class="rotate"><a href="https://www.instagram.com/kmcreynoldz/" target="_blank"><i id="icon" class="fab fa-instagram"></i></a></div>
            <div class="rotate"><a href="mailto:kylemcreynolds92@gmail.com" target="_blank"><i id="icon4" class="far fa-envelope"></i></a></div>
    </div>
    <div id="about">
        <div class="about_container">
            <h2>ABOUT</h2>
        </div>
    </div>
    <div id="projects">
        <div class="about_container">
            <p>
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf

            </p>
        </div>
    </div>
    <div id="resume">
        <div class="about_container">
            <p>
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf

            </p>
        </div>
    </div>
    <div id="contact">
        <div class="about_container">
            <p>
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf
                alsdkfjhasdlkfjahldksfjhalskdfjhalkdsjhfalksdjhfalkdsjhfalksdjhflkajhdfslkjhalksdjhflakjshdflkajhsdf

            </p>
        </div>
    </div>
</div>