<div class="container test">
    <p id="disclaimer">*This site was made without the use of any external libraries*</p>
    <div id="home">
        <h1>Hi, Welcome to my Portfolio!</h1>
        <div class="links">
            <button class="page-link" (click)="goToDestination('home')">Home</button>
            <button class="page-link" (click)="goToDestination('about')">About</button>
            <button class="page-link" dest="projects" (click)="goToDestination('projects')">Projects</button>
            <button class="page-link" dest="contact" (click)="goToDestination('contact')">Contact</button>
        </div>
    </div>
    <div id="about">
        <h2>ABOUT</h2>
        <div class="abtcontainer">
            <img id="me" src="../../assets/img/me.jpeg" alt="Smiley face">
            <p id="abouttext"> I am a full stack developer whose background emphasizes communication and interpersonal
                skills. I use online
                resources, teamwork and internal drive to accomplish tasks in the most efficient, clean manner
                available.
                Prior to attending bootcamp I worked as an Account Manager for a robotics company in San Jose, CA.
                Because
                of my
                love for algorithms and multifaceted complexity, I am seeking a back-end or full-stack position.
                Ideally,
                this position would be as part of a small team – inside or out of a larger company - with whom I could
                both
                develop and prove my skills.</p>
        </div>
        <div class="edcontainer">
            <div class="codingdojo">
                <h2 id="ed">Education</h2>
                <h4>Coding Dojo | Web Development</h4>
                <p class="edinfo">Coding Dojo helped me to gain an unbelievable amount of knowledge in a shockingly
                    short period of time. On
                    average I coded in 14 hours per day during the week, and 4 hours on weekends every day for 15 weeks.
                    Well
                    over a thousand hours in addition to what I had learned previously.</p>

                <p class="edinfo">The curriculum consists of ~200 unique and increasingly difficult whiteboarding
                    sessions, dozens upon dozens
                    of small projects leading up to 3-5 larger culminating projects each stack, 3 exams and 3 project
                    weeks. </p>


                <p class="edinfo">Each exam requires the student to complete a full stack application, simplified
                    versions of IMDB, LinkedIn,
                    etc. in 4.5 hours. Usually involving multiple SQL relationships, 4-5 unique pages and full CRUD.
                </p>
            </div>
            <div class="technologies">
                <h4 id="techies">Technologies I Know</h4>
                <div class="Fundamentals">
                    <h6>Foundation</h6>
                    <img class="icon" src="../../assets/img/HTML.png" alt="html">
                    <img class="icon" src="../../assets/img/CSS.png" alt="css">
                    <img class="icon" src="../../assets/img/scss.png" alt="scss">
                    <img class="icon" src="../../assets/img/JavaScript.png" alt="js">
                </div>
                <div class="Python">
                    <h6>Python</h6>
                    <img class="icon" src="../../assets/img/python.png" alt="python">
                    <img class="icon" src="../../assets/img/flask-icon.png" alt="flask">
                    <img class="icon" src="../../assets/img/django.png" alt="python">
                    <img class="icon" src="../../assets/img/sqlite.png" alt="python">

                </div>
                <div class="MEAN">
                    <h6>MEAN</h6>
                    <img class="icon" src="../../assets/img/mongodb.png" alt="mongo">
                    <img class="icon" src="../../assets/img/expressjs.png" alt="express">
                    <img class="icon" src="../../assets/img/angularjs.png" alt="angular">
                    <img class="icon" src="../../assets/img/node.png" alt="nodejs">
                </div>
                <div class="JAVA">
                    <h6>JAVA</h6>
                    <img class="icon" src="../../assets/img/java.png" alt="java">
                    <img class="icon" src="../../assets/img/spring.svg" alt="spring">
                    <img class="icon" src="../../assets/img/sb.png" alt="springboot">
                    <img class="icon" src="../../assets/img/mysql.png" alt="mysql">
                </div>
                <div class="Others">
                    <h6>Others</h6>
                    <img class="icon" src="../../assets/img/git.png" alt="git">
                    <img class="icon" src="../../assets/img/jQuery.png" alt="jquery">
                    <img class="icon" src="../../assets/img/bootstrap.jpeg" alt="bootstrap">
                    <img class="icon" src="../../assets/img/aws.png" alt="bootstrap">
                </div>
            </div>
        </div>
    </div>
    <div id="projects">
        <h5 id="project1">Projects</h5>
        <div class="hminfo">
            <h3 id="hmtitle"><a class="site" href="http://3.17.208.59" target="_blank">Honorable Mention</a>
            </h3>
            <p id="hmp">Technologies used: HTML, CSS, Django, Python, mapboxAPI, SQLite
                -I created a web application for an easy and organized way to store recommendations. Stored in different
                categories for easier viewing you can store a recommendation(dining, activities, sightseeing) with any
                notes about it and it will set the location of your recommendation using the mapboxAPI. You can also
                check in your current area if there is anything you had previously input in your account.</p>
        </div>
        <div class="cc">
            <div class="carousel">
                <ul class="slides">
                    <input type="radio" name="radio-buttons" id="img-1" checked />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img class="hmimg" src="../../assets/img/hm2.png">
                        </div>
                        <div class="carousel-controls">
                            <label for="img-4" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-2" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-2" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img class="hmimg" src="../../assets/img/hm1.png">
                        </div>
                        <div class="carousel-controls">
                            <label for="img-1" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-3" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-3" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img class="hmimg" src="../../assets/img/hm4.png">
                        </div>
                        <div class="carousel-controls">
                            <label for="img-2" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-4" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-4" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img class="hmimg" src="../../assets/img/hm3.png">
                        </div>
                        <div class="carousel-controls">
                            <label for="img-3" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-1" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <div class="carousel-dots">
                        <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                        <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                        <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                        <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
                    </div>
                </ul>
            </div>
        </div>
        <div class="otsinfo">
            <h3 id="hmtitle"><a class="site" href="http://onthespotrecipes.com" target="_blank">On The Spot Recipes</a>
            </h3>
            <p id="hmp">Technologies used: HTML, CSS, Angular, Node, Express, TypeScript, JavaScript, RecipePuppy
                -I made this app to find uses for ingredients you have around your house. The user can select
                ingredients in four different categories. Once the user submits their ingredients, a list of 10 dessert
                recipes will be generated. The user can then go to the recipe link or reset the ingredients and submit
                different ones.</p>
        </div>
        <div class="cc2">
            <div class="carousel2">
                <ul class="slides2">
                    <input type="radio" name="radio-buttons2" id="img-5" checked />
                    <li class="slide-container2">
                        <div class="slide-image2">
                            <img class="hmimg2" src="../../assets/img/ots1.png">
                        </div>
                        <div class="carousel-controls2">
                            <label for="img-8" class="prev-slide2">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-6" class="next-slide2">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons2" id="img-6" />
                    <li class="slide-container2">
                        <div class="slide-image2">
                            <img class="hmimg2" src="../../assets/img/ots2.png">
                        </div>
                        <div class="carousel-controls2">
                            <label for="img-5" class="prev-slide2">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-7" class="next-slide2">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons2" id="img-7" />
                    <li class="slide-container2">
                        <div class="slide-image2">
                            <img class="hmimg2" src="../../assets/img/ots3.png">
                        </div>
                        <div class="carousel-controls2">
                            <label for="img-6" class="prev-slide2">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-8" class="next-slide2">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons2" id="img-8" />
                    <li class="slide-container2">
                        <div class="slide-image2">
                            <img class="hmimg2" src="../../assets/img/ots4.png">
                        </div>
                        <div class="carousel-controls2">
                            <label for="img-7" class="prev-slide2">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-5" class="next-slide2">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <div class="carousel-dots2">
                        <label for="img-5" class="carousel-dot2" id="img-dot-5"></label>
                        <label for="img-6" class="carousel-dot2" id="img-dot-6"></label>
                        <label for="img-7" class="carousel-dot2" id="img-dot-7"></label>
                        <label for="img-8" class="carousel-dot2" id="img-dot-8"></label>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div id="contact">
        <p id="contact2">Contact Me!</p>
        <div class="wobble"><a href="https://www.linkedin.com/in/kylemcreynolds1/" target="_blank"><i id="icon1"
                    class="fab fa-linkedin"></i></a></div>
        <div class="wobble"><a href="https://github.com/kyle-mcr" target="_blank"><i id="icon"
                    class="fab fa-github-square"></i></a></div>
        <div class="wobble"><a href="https://www.instagram.com/kmcreynoldz/" target="_blank"><i id="icon"
                    class="fab fa-instagram"></i></a></div>
        <div class="wobble"><a href="mailto:kylemcreynolds92@gmail.com" target="_blank"><i id="icon4"
                    class="far fa-envelope"></i></a></div>
        <p class="contact">Phone Number: (831)-247-6678 &nbsp;&nbsp;|&nbsp;&nbsp; Email: kylemcreynolds92@gmail.com</p>
    </div>
</div>